.range-input
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  span
  {
    margin-right: 6px;
    
    &.middle
    {
      margin-right: 0;
    }
  }

  input[type="text"]
  {
    width: 76px;
  }
}