@import "../../colors.scss";

body
{
  font-family: "Open Sans";
  background: $background;
  color: $foreground;
  margin: 0;
  height: 100vh;
}

#root
{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper
{
  display: flex;
  flex-direction: row;
  height: 100%;
}

p
{
  margin: 8px 0;
}