@import "../../colors.scss";

.job-card
{
  &.compact
  {
    font-size: 0.6em;
    margin: 0;
    border-top: lighten($elementBg, 20%) 1px solid;
  }

  &.notification
  {
    font-size: 0.8em;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 37.5em;
  background:  $elementBg;
  box-shadow: 0 0.125em 0.375em 0.125em rgba(3, 3, 3, 0.7);
  margin: 1em;
  padding: 0.25em 0.625em;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  position: relative;

  &.compact .new
  {
    top: 5px;
    right: 5px;
    transform: rotate(10deg);
  }

  .new
  {
    padding: 0.25em 0.625em;
    background: #900e0e;
    top: 0px;
    right: 0px;
    transform: rotate(30deg);
    position: absolute;
  }

  &:not(.compact) &:hover
  {
    box-shadow: 0 2px 12px 2px rgba(3, 3, 3, 0.7);
    transform: scale(1.05);
  }

  .header
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 0;
    font-size: 1.5em;
    font-weight: 500;
  }

  .tags
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    .tag
    {
      background: $tagBg;
      padding: 0.625em 1.25em;
      margin: 0.125em;
    }
  }

  .footer
  {
    margin: 0.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .footer-wrapper
    {
      display: flex;
      flex-direction: row;
    }

    .organization
    {
      background: $orgBg;
      padding: 0.625em 1.25em;
      margin: 0.125em;
    }

    div
    {
      &.gray
      {
        background: #494949;
      }
      
      &.green
      {
        background: #28900e;
      }

      &.yellow
      {
        background: #8d8519;
      }

      &.orange
      {
        background: #b6760f;
      }

      &.red
      {
        background: #900e0e;
      }
    }

    .hours, .pay
    {
      padding: 0.625em 1.25em;
      margin: 0.125em;
    }

    .date
    {
      font-weight: 300;
      color: darken($foreground, 20%);
    }
  }
}