@import "../../colors.scss";
@import "../Input/inputs.scss";

.filter-list
{
  display: flex;
  flex-direction: column;

  button.add-element
  {
    @include slick-button($sidenavElemBg);
    align-self: center;
    margin: 10px;
    width: auto;
    height: auto;
    font-size: 20px;
  }

  .slot {
    display: flex;
    flex-direction: row;

    input {

      flex: 1;
    }

    button {
      @include slick-button($sidenavElemBg);
      font-size: 0.6em;
    }

    &.modified
    {
      outline: #bebe26 2px solid;

      button.save {
        @include slick-button(#bebe26);
      }
    }

    &.saved
    {
      outline: #26be3f 2px solid;

      button.save {
        @include slick-button(#26be3f);
      }
    }

    &.saving
    {
      outline: #26be3f83 2px solid;

      button.save {
        @include slick-button(#26be3f83);
      }
    }
  }
}