@import "../../colors.scss";
@import "../Input/inputs.scss";

.filter-list
{
  display: flex;
  flex-direction: column;

  button
  {
    @include slick-button($sidenavElemBg);
  }

  button.add-element
  {
    align-self: center;
    margin: 10px;
    width: auto;
    height: auto;
    font-size: 20px;
  }

  .slot {
    display: flex;
    flex-direction: row;

    input {

      flex: 1;
    }

    button {
      font-size: 0.6em;
    }
  }
}