$background: #161622;
$foreground: #efefef;
$brandColor: #1a5fad;
$elementBg: darken($background, 2%);
$tagBg: $brandColor;
$orgBg: #2d2e6b;
$sidenavXFg: #18193f;
$sidenavElemBg: $brandColor;
$inputBg: #a8acb4;
